.div-container{
    height: 300px;
    width: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-container > img{
    height: 80%;
    width: 80%;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 56px;
    justify-content: center;
    padding: 75px;
}