.filtros{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filtros > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid transparent; 
}

.filtros > div:hover{
    cursor: pointer;
    border-bottom: 3px solid #000;
}

.filtros > div >span{
    font-size: 0.43em;
}


.filtros > div > img{
    height: 41px;
    width: 41px;
}