.cabecalho{
    height: 8%;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho > img{
    height: 41px;
    width: 41px;
    margin-left: 13px;
}