.cabecalho{
    height: 90px;
    width: 100%;
    background-color: #F3D4A0 !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-logo{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 13px;
}

.cabecalho > img{
    margin-left: 15px;
    height: 41px;
    width: 41px;
}

.cabecalho >span{
    font-size: 1.6em; 
}

.div-input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 13px;
    border: 1px solid #000;
    border-radius: 20px;
}

.input{
    background-color: transparent;
    border: none;
    margin-left: 5px;
    margin-right: 3px;
}

.lupa{
    height: 22px;
    width: 22px;
    margin-left: 8px;
    margin-right: 4px;
}