.cabecalho{
    height: 90px;
    width: 100%;
    background-color: #F3D4A0 !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho > img{
    margin-left: 15px;
    height: 41px;
    width: 41px;
}

.cabecalho >span{
    font-size: 1.6em; 
}

@media only screen and (max-width: 616px) {
    .cabecalho >span{
        font-size: 1.1em; 
    }
}